.calendar {
	width: 100%;
	position: relative;
	align-items: flex-start;
	margin-top: 56px;
	box-sizing: border-box;
	padding: 0 0 0 2rem;
	height: calc(100vh - 56px);
}

.event-icon {
	height: 24px;
}

.calendar__event__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.calendar__days {
	display: flex;
	width: calc(100% - 5ch);
	position: absolute;
	flex: 1;
	height: calc(100vh - 56px);
	overflow-y: auto;
	overflow-x: hidden;
}

.calendar__header {
	display: flex;
	position: fixed;
	top: 56px;
	height: 36px;
	line-height: 36px;
	width: 100vw;
	left: 0;
	right: 0;
	box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	padding: 0 2rem;
}

.calendar__header .calendar__header__legend__padding {
	width: 5ch;
	flex: 0 0 5ch;
}

.calendar__header h3, .calendar__header h1 {
	flex: 1;
	margin: 0;
	text-align: center;
	font-weight: normal;
}

.calendar__header h3.current-day {
	color: #2979FF;
}

.calendar__body {
	position: relative;
	top: 36px;
	display: flex;
	height: calc(100vh - 96px);
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 2rem;
	box-sizing: border-box;
}

.calendar__body.month {
	padding: 0;
	top: 0;
	height: 100vh;
}

.calendar__day {
	border-right: 1px solid #ccc;
}

.calendar__day.current-day {
	background: rgba(0, 0, 0, 0.05);
}

.calendar__legend {
	width: 5ch;
	text-align: right;
	padding-right: 1rem;
	flex: 0;
	border-right: 1px solid #ccc;
	height: 96rem;
}

.calendar__legend div {
	/* ¼ hour is 1rem high */
	height: 4rem;
	position: relative;
}

.calendar__legend div::after {
	content: '';
	display: block;
	width: calc(100vw - 4rem);
	height: 1px;
	background-color: rgba(0, 0, 0, 0.25);
	bottom: 0;
	position: absolute;
}

.calendar__day {
	flex: 1;
	position: relative;
	height: 96rem; /* 4rem * 24 */
}

.calendar__day h3 {
	height: 3rem;
	margin: 0;
	text-align: center;
	line-height: 3rem;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
}

.calendar__events {
	position: relative;
}

.calendar__event {
	background: rgb(240, 147, 0);
	width: 100%;
	overflow: hidden;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	color: white;
	font-weight: 500;
	font-size: .95rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	padding: 4px 16px;
	box-sizing: border-box;
}

.calendar__event .eventIcon {
	width: 30px;
}

.current_time_line {
	height: 2px;
	position: absolute;
	left: 0;
	width: calc(100% - 2rem);
	background-color: #2979FF;
}