.calendar {
	width: 100%;
	position: relative;
	align-items: flex-start;
	margin-top: 56px;
	box-sizing: border-box;
	padding: 0 2rem;
	height: calc(100vh - 56px);
}

.event-icon {
	height: 24px;
}

.calendar__event__title {
	display: flex;
	align-items: center;
	justify-content: center;
}

.calendar__days {
	display: flex;
	width: calc(100% - 5ch);
	position: absolute;
	flex: 1;
	height: calc(100vh - 56px);
	overflow-y: auto;
	overflow-x: hidden;
}

.calendar__header {
	display: flex;
	position: fixed;
	top: 56px;
	height: 36px;
	line-height: 36px;
	width: calc(100vw - 4rem);
}

.calendar__header .calendar__header__legend__padding {
	width: 5ch;
	flex: 0 0 5ch;
}

.calendar__header h3 {
	flex: 1;
	margin: 0;
	text-align: center;

}

.calendar__body {
	position: relative;
	top: 36px;
	display: flex;
	height: calc(100vh - 96px);
	overflow-y: auto;
	overflow-x: hidden;
}

.calendar__day {
	border-right: 1px solid #ccc;
}

.calendar__legend {
	width: 5ch;
	text-align: right;
	padding-right: 1rem;
	flex: 0;
	border-right: 1px solid #ccc;
	height: 96rem;
}

.calendar__legend div {
	/* ¼ hour is 1rem high */
	height: 4rem;
	position: relative;
}

.calendar__legend div::after {
	content: '';
	display: block;
	width: calc(100vw - 4rem);
	height: 1px;
	background-color: rgba(0, 0, 0, 0.25);
	bottom: 0;
	position: absolute;
}

.calendar__day {
	flex: 1;
	position: relative;
	height: 96rem; /* 4rem * 24 */
}

.calendar__day h3 {
	height: 3rem;
	margin: 0;
	text-align: center;
	line-height: 3rem;
	font-weight: normal;
	border-bottom: 1px solid #ccc;
}

.calendar__events {
	position: relative;
}

.calendar__event {
	background: rgb(240, 147, 0);
	width: 100%;
	overflow: hidden;
	text-align: center;
	border-radius: 5px;
	position: absolute;
	color: white;
	font-weight: 500;
	font-size: .95rem;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);

}

.calendar__event .eventTrash {
	width: 30px;
}

.calendar__event.length_0_0 { height: 0rem; }

.calendar__event.length_0_15 { height: 1rem; }

.calendar__event.length_0_30 { height: 2rem; }

.calendar__event.length_0_45 { height: 3rem; }

.calendar__event.starts_0_0 { top: 0rem; }

.calendar__event.starts_0_15 { top: 1rem; }

.calendar__event.starts_0_30 { top: 2rem; }

.calendar__event.starts_0_45 { top: 3rem; }

.calendar__event.length_1_0 { height: 4rem; }

.calendar__event.length_1_15 { height: 5rem; }

.calendar__event.length_1_30 { height: 6rem; }

.calendar__event.length_1_45 { height: 7rem; }

.calendar__event.starts_1_0 { top: 4rem; }

.calendar__event.starts_1_15 { top: 5rem; }

.calendar__event.starts_1_30 { top: 6rem; }

.calendar__event.starts_1_45 { top: 7rem; }

.calendar__event.length_2_0 { height: 8rem; }

.calendar__event.length_2_15 { height: 9rem; }

.calendar__event.length_2_30 { height: 10rem; }

.calendar__event.length_2_45 { height: 11rem; }

.calendar__event.starts_2_0 { top: 8rem; }

.calendar__event.starts_2_15 { top: 9rem; }

.calendar__event.starts_2_30 { top: 10rem; }

.calendar__event.starts_2_45 { top: 11rem; }

.calendar__event.length_3_0 { height: 12rem; }

.calendar__event.length_3_15 { height: 13rem; }

.calendar__event.length_3_30 { height: 14rem; }

.calendar__event.length_3_45 { height: 15rem; }

.calendar__event.starts_3_0 { top: 12rem; }

.calendar__event.starts_3_15 { top: 13rem; }

.calendar__event.starts_3_30 { top: 14rem; }

.calendar__event.starts_3_45 { top: 15rem; }

.calendar__event.length_4_0 { height: 16rem; }

.calendar__event.length_4_15 { height: 17rem; }

.calendar__event.length_4_30 { height: 18rem; }

.calendar__event.length_4_45 { height: 19rem; }

.calendar__event.starts_4_0 { top: 16rem; }

.calendar__event.starts_4_15 { top: 17rem; }

.calendar__event.starts_4_30 { top: 18rem; }

.calendar__event.starts_4_45 { top: 19rem; }

.calendar__event.length_5_0 { height: 20rem; }

.calendar__event.length_5_15 { height: 21rem; }

.calendar__event.length_5_30 { height: 22rem; }

.calendar__event.length_5_45 { height: 23rem; }

.calendar__event.starts_5_0 { top: 20rem; }

.calendar__event.starts_5_15 { top: 21rem; }

.calendar__event.starts_5_30 { top: 22rem; }

.calendar__event.starts_5_45 { top: 23rem; }

.calendar__event.length_6_0 { height: 24rem; }

.calendar__event.length_6_15 { height: 25rem; }

.calendar__event.length_6_30 { height: 26rem; }

.calendar__event.length_6_45 { height: 27rem; }

.calendar__event.starts_6_0 { top: 24rem; }

.calendar__event.starts_6_15 { top: 25rem; }

.calendar__event.starts_6_30 { top: 26rem; }

.calendar__event.starts_6_45 { top: 27rem; }

.calendar__event.length_7_0 { height: 28rem; }

.calendar__event.length_7_15 { height: 29rem; }

.calendar__event.length_7_30 { height: 30rem; }

.calendar__event.length_7_45 { height: 31rem; }

.calendar__event.starts_7_0 { top: 28rem; }

.calendar__event.starts_7_15 { top: 29rem; }

.calendar__event.starts_7_30 { top: 30rem; }

.calendar__event.starts_7_45 { top: 31rem; }

.calendar__event.length_8_0 { height: 32rem; }

.calendar__event.length_8_15 { height: 33rem; }

.calendar__event.length_8_30 { height: 34rem; }

.calendar__event.length_8_45 { height: 35rem; }

.calendar__event.starts_8_0 { top: 32rem; }

.calendar__event.starts_8_15 { top: 33rem; }

.calendar__event.starts_8_30 { top: 34rem; }

.calendar__event.starts_8_45 { top: 35rem; }

.calendar__event.length_9_0 { height: 36rem; }

.calendar__event.length_9_15 { height: 37rem; }

.calendar__event.length_9_30 { height: 38rem; }

.calendar__event.length_9_45 { height: 39rem; }

.calendar__event.starts_9_0 { top: 36rem; }

.calendar__event.starts_9_15 { top: 37rem; }

.calendar__event.starts_9_30 { top: 38rem; }

.calendar__event.starts_9_45 { top: 39rem; }

.calendar__event.length_10_0 { height: 40rem; }

.calendar__event.length_10_15 { height: 41rem; }

.calendar__event.length_10_30 { height: 42rem; }

.calendar__event.length_10_45 { height: 43rem; }

.calendar__event.starts_10_0 { top: 40rem; }

.calendar__event.starts_10_15 { top: 41rem; }

.calendar__event.starts_10_30 { top: 42rem; }

.calendar__event.starts_10_45 { top: 43rem; }

.calendar__event.length_11_0 { height: 44rem; }

.calendar__event.length_11_15 { height: 45rem; }

.calendar__event.length_11_30 { height: 46rem; }

.calendar__event.length_11_45 { height: 47rem; }

.calendar__event.starts_11_0 { top: 44rem; }

.calendar__event.starts_11_15 { top: 45rem; }

.calendar__event.starts_11_30 { top: 46rem; }

.calendar__event.starts_11_45 { top: 47rem; }

.calendar__event.length_12_0 { height: 48rem; }

.calendar__event.length_12_15 { height: 49rem; }

.calendar__event.length_12_30 { height: 50rem; }

.calendar__event.length_12_45 { height: 51rem; }

.calendar__event.starts_12_0 { top: 48rem; }

.calendar__event.starts_12_15 { top: 49rem; }

.calendar__event.starts_12_30 { top: 50rem; }

.calendar__event.starts_12_45 { top: 51rem; }

.calendar__event.length_13_0 { height: 52rem; }

.calendar__event.length_13_15 { height: 53rem; }

.calendar__event.length_13_30 { height: 54rem; }

.calendar__event.length_13_45 { height: 55rem; }

.calendar__event.starts_13_0 { top: 52rem; }

.calendar__event.starts_13_15 { top: 53rem; }

.calendar__event.starts_13_30 { top: 54rem; }

.calendar__event.starts_13_45 { top: 55rem; }

.calendar__event.length_14_0 { height: 56rem; }

.calendar__event.length_14_15 { height: 57rem; }

.calendar__event.length_14_30 { height: 58rem; }

.calendar__event.length_14_45 { height: 59rem; }

.calendar__event.starts_14_0 { top: 56rem; }

.calendar__event.starts_14_15 { top: 57rem; }

.calendar__event.starts_14_30 { top: 58rem; }

.calendar__event.starts_14_45 { top: 59rem; }

.calendar__event.length_15_0 { height: 60rem; }

.calendar__event.length_15_15 { height: 61rem; }

.calendar__event.length_15_30 { height: 62rem; }

.calendar__event.length_15_45 { height: 63rem; }

.calendar__event.starts_15_0 { top: 60rem; }

.calendar__event.starts_15_15 { top: 61rem; }

.calendar__event.starts_15_30 { top: 62rem; }

.calendar__event.starts_15_45 { top: 63rem; }

.calendar__event.length_16_0 { height: 64rem; }

.calendar__event.length_16_15 { height: 65rem; }

.calendar__event.length_16_30 { height: 66rem; }

.calendar__event.length_16_45 { height: 67rem; }

.calendar__event.starts_16_0 { top: 64rem; }

.calendar__event.starts_16_15 { top: 65rem; }

.calendar__event.starts_16_30 { top: 66rem; }

.calendar__event.starts_16_45 { top: 67rem; }

.calendar__event.length_17_0 { height: 68rem; }

.calendar__event.length_17_15 { height: 69rem; }

.calendar__event.length_17_30 { height: 70rem; }

.calendar__event.length_17_45 { height: 71rem; }

.calendar__event.starts_17_0 { top: 68rem; }

.calendar__event.starts_17_15 { top: 69rem; }

.calendar__event.starts_17_30 { top: 70rem; }

.calendar__event.starts_17_45 { top: 71rem; }

.calendar__event.length_18_0 { height: 72rem; }

.calendar__event.length_18_15 { height: 73rem; }

.calendar__event.length_18_30 { height: 74rem; }

.calendar__event.length_18_45 { height: 75rem; }

.calendar__event.starts_18_0 { top: 72rem; }

.calendar__event.starts_18_15 { top: 73rem; }

.calendar__event.starts_18_30 { top: 74rem; }

.calendar__event.starts_18_45 { top: 75rem; }

.calendar__event.length_19_0 { height: 76rem; }

.calendar__event.length_19_15 { height: 77rem; }

.calendar__event.length_19_30 { height: 78rem; }

.calendar__event.length_19_45 { height: 79rem; }

.calendar__event.starts_19_0 { top: 76rem; }

.calendar__event.starts_19_15 { top: 77rem; }

.calendar__event.starts_19_30 { top: 78rem; }

.calendar__event.starts_19_45 { top: 79rem; }

.calendar__event.length_20_0 { height: 80rem; }

.calendar__event.length_20_15 { height: 81rem; }

.calendar__event.length_20_30 { height: 82rem; }

.calendar__event.length_20_45 { height: 83rem; }

.calendar__event.starts_20_0 { top: 80rem; }

.calendar__event.starts_20_15 { top: 81rem; }

.calendar__event.starts_20_30 { top: 82rem; }

.calendar__event.starts_20_45 { top: 83rem; }

.calendar__event.length_21_0 { height: 84rem; }

.calendar__event.length_21_15 { height: 85rem; }

.calendar__event.length_21_30 { height: 86rem; }

.calendar__event.length_21_45 { height: 87rem; }

.calendar__event.starts_21_0 { top: 84rem; }

.calendar__event.starts_21_15 { top: 85rem; }

.calendar__event.starts_21_30 { top: 86rem; }

.calendar__event.starts_21_45 { top: 87rem; }

.calendar__event.length_22_0 { height: 88rem; }

.calendar__event.length_22_15 { height: 89rem; }

.calendar__event.length_22_30 { height: 90rem; }

.calendar__event.length_22_45 { height: 91rem; }

.calendar__event.starts_22_0 { top: 88rem; }

.calendar__event.starts_22_15 { top: 89rem; }

.calendar__event.starts_22_30 { top: 90rem; }

.calendar__event.starts_22_45 { top: 91rem; }

.calendar__event.length_23_0 { height: 92rem; }

.calendar__event.length_23_15 { height: 93rem; }

.calendar__event.length_23_30 { height: 94rem; }

.calendar__event.length_23_45 { height: 95rem; }

.calendar__event.starts_23_0 { top: 92rem; }

.calendar__event.starts_23_15 { top: 93rem; }

.calendar__event.starts_23_30 { top: 94rem; }

.calendar__event.starts_23_45 { top: 95rem; }
