.header {
	background-color: #2979FF;
	color: #fff;
}

.header .buttons .dispButtons {
	color: #2978fe;
	background-color: #fff;
}

input[type="submit"] {
	background: #2979FF;
	color: #fff;
}

.calendar__header h3.current-day {
	color: #2979FF;
}


.calendar__event {
	background: rgb(240, 147, 0);
}

.current_time_line {
	background-color: #2979FF;
}
