.addButton {
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	background: #2979FF;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	font-size: 20px;
	cursor: pointer;
	border-radius: 50%;
	line-height: 50%;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
	height: 3rem;
	width: 3rem;
	padding: 4px;
}

.centeredText {
	text-align: center;
}

.newEventButtonsDiv {
	position: absolute;
	bottom: 2%;
	right: 2%;
}

.newEventFormDiv {
	position: relative;
	left: 10%;
}

.closePopupButton {
	position: absolute;
	top: 1%;
	right: 1%;

	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
}

.closePopupButton img {
	width: 48px;
	height: 48px;
}

.editIcon {
	width: 3rem;
}

#showEvent hr{
	width:90%; opacity:0.5;
}

#showEvent form textarea{
	margin-top: 5px;
	width: 80%;
	resize: none;
	margin-left: 0px;
}

#showEvent form input[type=text]{
	width: 80%;
	margin-left: 0px;
}