.header {
	background-color: #2979FF;
	color: #fff;
	padding: 12px 24px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
	display: flex;
	align-items: center;
	height: 56px;
	box-sizing: border-box;
}

.header.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}

.header h1, .header h2 {
	margin: 0;
	font-weight: normal;
}

.header h1 {
	line-height: 32px;
	margin-right: 5px;
}

.header .buttons {
	align-items: center;
	margin-left: auto;
	display: flex;
}

.header .buttons a,
.header .buttons a:hover,
.header .buttons a:visited {
	text-decoration: none;
	color: #2978fe;
}

.header .buttons .dispButton {
	color: #2978fe;
	background-color: #fff;
	border-radius: 20px;
	padding: 5px 10px;
	margin: 0 5px;
}

.header .buttons .dispButton.selected {
	background-color: rgba(255, 255, 255, 0.7);
}

.header .buttons img,
.header .buttons .navArrow {
	height: 40px;
}