html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

header {
	background-color: #54C6EB;
	color: rgba(0, 0, 0, 0.87);
	padding: 12px 24px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
	display: flex;
	align-items: baseline;
	height: 56px;
	box-sizing: border-box;
}

header.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}

header h1 {
	line-height: 32px;
}


header h1, header h2 {
	margin: 0;
	font-weight: normal;
}

header h1 {
	margin-right: .5ch;
}
