html, body {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
}

.header {
	background-color: #2979FF;
	color: #fff;
	padding: 12px 24px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.16);
	display: flex;
	align-items: center;
	height: 56px;
	box-sizing: border-box;
}

.header.fixed {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
}

.header h1 {
	line-height: 32px;
}


.header h1, .header h2 {
	margin: 0;
	font-weight: normal;
}

.header h1 {
	margin-right: .5ch;
}

.card {
	background-color:white;
	border-radius: 5px;
	height: 80%;
	width: 40%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	position: absolute;
	top: 15%;
	left: 30%;
}

input[type=text], input[type=password] {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5rem;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	line-height: 1.4;
	width: 100%;
	margin: 10px;
	padding: 5px;
	box-sizing: border-box;
}

input[type=submit] {
	border: none;
	background: #2979FF;
	color: #fff;
	outline: none;
	padding: 8px 32px;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	font-size: 16px;
	border-radius: 24px;
	box-sizing: border-box;
	height: 48px;
	white-space: nowrap;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.closePopupButton{
	position: absolute;
	top: 1%;
	right: 1%;

	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}

.header .buttons {
	align-items: center;
	margin-left: auto;
	display: flex;
}

.header .buttons a,
.header .buttons a:hover,
.header .buttons a:visited {
	text-decoration: none;
	color: #2978fe;
}

.header .buttons .dispButton {
	color: #2978fe;
	background-color: #fff;
	border-radius: 20px;
	padding: 5px 10px;
	margin: 0 5px;
}

.header .buttons .dispButton.selected {
	background-color: rgba(255, 255, 255, 0.7);
}

.header .buttons img {
	width: 40px;
}

.rightPageScrollingDiv, .leftPageScrollingDiv {
	width: 2rem;
	height: 2rem;
	text-align: center;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	background: #fff;
	border-radius: 50%;
	margin-left: 2rem;
}


.rightPageScrollingDiv a, .leftPageScrollingDiv a {
	text-decoration: none;
	color: #000;
	font-size: 1.25rem;
}

.pageScrollButton{
	position: absolute;
	top: 50%;
	left: 50%;

	width: 2rem;
	height: 2rem;

	border-radius: 50%;

	transform: translate(-50%, -50%);

	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
}
